body{
  background-color: papayawhip;
}
header{
  position: sticky;
  top: 0px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  background-color: silver;
  max-width: 1600px;
  width: 1600px;
  margin-left: -10px;
  height: 80px;
  margin-top: -40px;
  margin-bottom: 40px;
}
.contenedor{
  color: black;
  font-size: 30px;
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  margin-top: 140px;
  margin-left: 500px;
}
.FOTO{
  width: 400px;
  height: 400px;
  border-radius: 400px;
  border: 5px solid black;
}
section fieldset{
  border: solid;
}
section fieldset legend{
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
}
section fieldset ul li ul li{
  list-style-type: disc;
}
ul{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.correo:visited{
  color: red;
}
.correo:hover{
  color: blue;
}
.whatsapp:visited{
  color: green;
}
.whatsapp:hover{
  color: greenyellow;
}
.instagram:visited{
  color: fuchsia;
}
.instagram:hover{
  color: black;
}